* {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    white-space: nowrap;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 450px;
}

#titleArea {
    width: 95%;
    margin: 0 auto 60px;
    font-family: 'PlayfairDisplay', serif;
    font-size: 34px;
    transform: scale(1.05, 1);
}

#boardArea {
    width: 96%;
    height: 120px;
    margin: 0 auto 40px;
    border: 1px solid gray;
    border-radius: 3px;
}

#inputArea {
    width: 90%;
    height: 40%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    background: gray;
}

#resultArea {
    width: 90%;
    height: 60%;
    margin: auto;
    line-height: 70px;
    font-family: 'TimesNewRoman', serif;
    font-size: 30px;
}

#tableArea {
    width: 100%;
    margin: 0 auto;
    border-spacing: 9px;
}

td {
    width: 30px;
    height: 30px;
    font-family: 'Roboto', serif;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 3px;
    background: lightgray;
}

#buttonNumber {
    background: darkgray;
}

td:hover, #buttonNumber:hover {
    background: gray;
}

td:active {
    transform: translateY(2px);
}