@media only screen and (hover: none) and (pointer: coarse) {
    body {
        width: 95%;
    }

    #titleArea {
        font-size: 33px;
    }
}

* {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 100px auto 150px;

    text-align: center;
    background-image: url('../media/TriangleBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titleArea {
    margin: auto auto 60px;
    font-family: 'PlayfairDisplay', serif;
    
    transform: scale(1.05, 1);
}

#boardArea {
    width: 96%;
    height: 120px;
    margin: auto auto 30px;
    border: 1px solid gray;
    border-radius: 3px;
}

#inputArea {
    width: 90%;
    height: 40%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    border: none;
    background: gray;
}

#resultArea {
    width: 90%;
    height: 60%;
    margin: auto;
    line-height: 70px;
    font-family: 'TimesNewRoman', serif;
    font-size: 30px;
}

table {
    width: 100%;
    margin: auto;
    border-spacing: 8px;
}

td {
    width: 15%;
    height: 30px;
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 3px;
    background: lightgray;
}

#buttonNumber {
    background: darkgray;
}

td:hover, #buttonNumber:hover {
    background: gray;
}

td:active {
    transform: translateY(2px);
}