@media only screen and (max-width: 500px) {
    body {
        width: 95%;
    }
}

@media only screen and (min-width: 500px) {
    body {
        width: 400px;
    }
}

* {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    margin: 100px auto 150px;
    text-align: center;
    background-image: url('../media/TriangleBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titleArea {
    margin: auto;
    font-family: 'PlayfairDisplay', serif;
    font-size: 35px;
    transform: scale(1.05, 1);
}

#boardArea {
    height: 120px;
    margin: 70px auto 40px;
    border: 1px solid gray;
    border-radius: 3px;
}

#inputArea {
    height: 40%;
    margin: auto;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    border: none;
    background: gray;
}

#resultArea {
    height: 60%;
    line-height: 70px;
    margin: auto;
    font-family: 'TimesNewRoman', serif;
    font-size: 30px;
    background: transparent;
}

table {
    width: 100%;
    margin: auto;
}

button {
    width: 55px;
    height: 30px;
    margin: 6px 7px 0 0;
    text-align: center;
    border: 1px solid gray;
    border-radius: 3px;
    background: lightgray;
}

.buttonNumber {
    background: darkgray;
}

button:hover, .buttonNumber:hover {
    background: gray;
}

button:active {
    transform: translateY(2px);
}