@font-face {
    font-family: 'Playfair Display';
    src: url('/asset/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/asset/TimesNewRoman.ttf');
}

body {
    margin: 100px 50px 150px 50px;
    text-align: center;
    background-image: url('/asset/TriangleBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#titleArea {
    margin: 0 0 50px 0;
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    transform: scale(1.05, 1);
    line-height: 140%;
}

#group {
    width: 380px;
    height: 120px;
    margin: auto auto 35px auto;
    border: 1px solid darkgray;
    border-radius: 3px;
}

#inputArea {
    width: 90%;
    height: 40%;
    margin: auto;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    border: none;
    background: darkgray;
}

#resultArea {
    width: 90%;
    height: 60%;
    line-height: 70px;
    margin: auto auto 30px auto;
    font-family: 'Times New Roman', serif;
    font-size: 30px;
    background: transparent;
}

table {
    width: 397px;
    margin: auto;
    height: 160px;
    border-spacing: 5px;
    border-collapse: separate;
}

button {
    width: 55px;
    height: 30px;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 3px;
    background: lightgray;
}

.buttonNumber {
    background: darkgray;
}

button:hover {
    background: gray;
}

button:active {
    transform: translateY(2px);
}