body {
    margin: 100px 50px 100px 50px;
    text-align: center;
    background-image: url('Triangle Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#titleArea {
    margin: 0 0 50px 0;
    font-family: "Roboto Slab", serif;
    font-size: 33px;
}

#group {
    width: 367px;
    height: 100px;
    margin: auto auto 28px auto;
    border: 1px solid darkgray;
    border-radius: 3px;
}

#inputArea {
    width: 90%;
    height: 40%;
    margin: auto;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    border:none;
    background-color: darkgray;
}

#resultArea {
    width: 90%;
    height: 60%;
    line-height: 55px;
    margin: auto auto 30px auto;
    font-family: "Times New Roman", serif;
    font-size: 28px;
    background: transparent;
}

button {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 3px;
    background: lightgray;
}

.buttonNumber {
    background: darkgray;
}

button:hover {
    background: gray;
}

button:active {
    transform: translateY(2px);
}

table {
    width: 380px;
    margin: auto;
    height: 160px;
    border-spacing: 5px;
    border-collapse: separate;

}