#titleArea {
    margin: 70px auto;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    transform: scale(1.05, 1);
}

#boardArea {
    width: 380px;
    height: 120px;
    margin: 40px auto;
    border: 1px solid gray;
    border-radius: 3px;
}

#inputArea {
    width: 90%;
    height: 40%;
    margin: auto;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    border: none;
    background: gray;
}

#resultArea {
    width: 90%;
    height: 60%;
    line-height: 70px;
    margin: auto;
    font-family: 'Times New Roman', serif;
    font-size: 30px;
    background: transparent;
}

table {
    width: 399px;
    height: 160px;
    margin: auto;
    position: relative;
    border-spacing: 5px;
    border-collapse: separate;
}

button {
    width: 55px;
    height: 30px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 3px;
    background: lightgray;
}

.buttonNumber {
    background: darkgray;
}

button:hover {
    background: gray;
}

button:active {
    transform: translateY(2px);
}